@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.elanco-logo {
    float:left;
    width:10%;
    height: 100%;
    text-align: center;
    color: white;
    font-family: "Open-Sans", sans-serif;
}

.link-container{
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    position: absolute;
    right: 30%;
    background-color: #2171b8;
    font-family: "Open-Sans", sans-serif;
}

.redirect {
    float:left;
    width:20%;
    height: 100%;
    text-align: center;
    color: white;
    line-height:50px;
    text-decoration: none;
    font-family: "Open-Sans", sans-serif;
}

